.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius:  999px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;

}
.search_input >input{
    flex: 1;
    padding:  10px 20px;
    font-size:  medium;
    border: none;
    outline: none;
    width: 20%;
}
.search_input >input:focus{
            outline-width: 0;
}
.search_inputIcon{
    color: gray;
}
.search_buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.search_buttons >Button{
    color: black;
    border: 1px solid white;
    background-color: #f8f8f8;
    margin: 3px;
    padding: 7px 15px;
    text-transform: inherit;
}
.search_buttons >Button:hover{
   box-shadow: 0 1px 1px rgba(0,0,0,0.1);
   border: none;
   background-color: #f8f8f8;
   color: #222;
   background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
} 
.search_buttons_hidden{
    display: none !important;
}
